html {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(28, 98, 202), rgb(0, 119, 119));
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 360px 1fr;
  grid-template-areas: "logo searchbar settings";

  & .logo {
    grid-area: logo;
  }

  & .searchBar {
    grid-area: searchbar;
    display: flex;
    justify-content: center;
  }
  & #locationSearchBar {
    font-size: inherit;
    background-color: #0e2d44;
    border: 0;
    border-radius: 20px;
    padding: 0.4rem;
    padding-left: 1rem;
    color: inherit;
  }

  & .settingsContainer {
    grid-area: settings;
    justify-self: end;

    display: flex;
    margin-right: 1rem;

    gap: 10px;

    & div {
      background-color: #0e2d44;
      padding: 0.3rem;
      border-radius: 20px;
      border: 2px solid #0e2d44;

      font-size: 0.8rem;

      &:hover {
        cursor: pointer;
        border: 2px solid white;
      }
    }
  }
}

#mainContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  gap: 2rem;
  max-width: 720px;

  grid-template-areas:
    "title title"
    "weather details"
    "hourly hourly"
    "daily daily";

  & .searchInfoContainer {
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .weatherLocation {
      font-size: 2rem;
      padding-bottom: 0;
      margin-bottom: 0.6rem;
    }

    & .weatherTimingInfo {
      opacity: 70%;
    }
  }
}

#mainContainer .weatherInfoContainer {
  grid-area: weather;
  align-self: center;

  & .temperatureWindow {
    display: flex;

    & h1 {
      margin: 0;
      padding: 0;
      font-size: 3rem;
    }
    & img {
      position: relative;
      top: -20px;
    }
  }

  & .lowerTemperatureWindow {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .feelsLikeText {
      opacity: 70%;
    }
  }
}

#mainContainer .weatherDetails {
  grid-area: details;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  & .details {
    display: block;

    & .detailsTitle {
      opacity: 70%;
      margin-bottom: 0.4rem;
    }
    & .details-data {
      font-size: 1.2rem;
    }
  }
}

.hourlyCarouselContainer {
  grid-area: hourly;

  display: flex;
  flex-direction: column;
  width: 100%;

  & .carouselTitle {
    align-self: center;
    font-size: 1.6rem;
  }
  & .hourlyCarousel {
    display: flex;
    overflow-x: scroll;
    gap: 2rem;
    width: 100%;
    padding: 1rem;

    & .hourlyDetailsCard {
      display: flex;
      flex-direction: column;
      min-width: 160px;
      padding: 0.6rem;
      border-radius: 5px;
      gap: 0.5rem;

      background-color: rgba(199, 199, 199, 0.144);
      border: 2px solid rgba(199, 199, 199, 0.171);

      & .title {
        align-self: center;
        opacity: 70%;
      }

      & .temperature {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;

        & img {
          width: 100%;
        }

        & span {
          font-size: 1.5rem;
        }
      }

      & .details {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;

        grid-template-areas: "wind rain";

        & div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.4rem;

          & img {
            opacity: 60%;
          }
          & span {
          }
        }
      }
    }
  }

  ::-webkit-scrollbar {
    height: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(12, 245, 233, 0.281);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(5, 97, 172, 0.904);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
