html {
  height: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(rgb(28, 98, 202), rgb(0, 119, 119));
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 95vw;
  display: grid;

  justify-items: center;

  grid-template-columns: 2fr minmax(1fr, 300px) 2fr;
  grid-template-areas: "logo searchbar settings";
  padding-top: 1rem;
}

.logo {
  grid-area: logo;
  font-size: 2rem;
  justify-self: start;
}

.searchBar {
  grid-area: searchbar;
  display: flex;
  justify-content: center;
  width: 75%;
}
#locationSearchBar {
  font-size: inherit;
  background-color: #0e2d44;
  border: 0;
  border-radius: 20px;
  padding: 0.4rem;
  padding-left: 1rem;
  color: inherit;
  width: 75%;
  min-width: 320px;
}

.settingsContainer {
  grid-area: settings;
  justify-self: end;

  display: flex;
  margin-right: 1rem;

  gap: 10px;

  & div {
    background-color: #0e2d44;
    padding: 0.5rem;
    border-radius: 20px;
    border: 2px solid #0e2d44;

    display: flex;
    align-items: center;

    font-size: 0.8rem;

    &.activeSetting {
      border: 2px solid white;
    }

    &:hover {
      cursor: pointer;
      border: 2px solid white;
    }
  }
}

#mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  gap: 2rem;
  max-width: 720px;

  grid-template-areas:
    "title title"
    "weather details"
    "hourly hourly"
    "daily daily";

  & .searchInfoContainer {
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .weatherLocation {
      font-size: 2rem;
      padding-bottom: 0;
      margin-bottom: 0.6rem;
    }

    & .weatherTimingInfo {
      opacity: 70%;
    }
  }
}

#mainContainer .weatherInfoContainer {
  grid-area: weather;
  align-self: center;
  justify-self: center;
  & .temperatureWindow {
    display: flex;

    & h1 {
      margin: 0;
      padding: 0;
      font-size: 4rem;
    }
    & img {
      position: relative;
      top: -2rem;
      left: -1rem;
      width: 6rem;
    }
  }

  & .lowerTemperatureWindow {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .feelsLikeText {
      opacity: 70%;
    }
  }
}

#mainContainer .weatherDetails {
  grid-area: details;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  font-size: 1.4rem;
  margin-left: 1rem;
  margin-right: 1rem;

  align-self: center;
  justify-self: center;

  & .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    & .detailsTitle {
      opacity: 70%;
      margin-bottom: 0.4rem;
    }
    & span {
      align-self: center;
      justify-self: center;
    }

    & .windData {
      display: flex;
      gap: 1rem;
    }
  }
}

.hourlyCarouselContainer {
  grid-area: hourly;

  display: flex;
  flex: 0;
  flex-direction: column;
  justify-self: center;
  width: 100%;

  margin-left: 1rem;
  margin-right: 1rem;

  & .carouselTitle {
    align-self: center;
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
  }
  & .hourlyCarousel {
    display: flex;
    overflow-x: scroll;
    gap: 2rem;
    align-self: center;
    width: 95%;
    padding-bottom: 1rem;

    & .hourlyDetailsCard {
      display: flex;
      flex-direction: column;
      min-width: 160px;
      padding: 0.6rem;
      border-radius: 5px;
      gap: 0.5rem;
      background-color: rgba(199, 199, 199, 0.144);
      border: 2px solid rgba(199, 199, 199, 0.171);

      & .title {
        align-self: center;
        opacity: 70%;
      }

      & .temperature {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;

        & img {
          width: 100%;
        }

        & span {
          font-size: 1.5rem;
        }
      }

      & .details {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;

        grid-template-areas: "wind rain";

        & div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.4rem;

          & img {
            opacity: 60%;
          }
          & .windUnitText {
            opacity: 70%;
          }
        }
      }
    }
  }

  ::-webkit-scrollbar {
    height: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(12, 245, 233, 0.281);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(5, 97, 172, 0.904);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.dailyContainer {
  grid-area: daily;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 1rem;

  & .title {
    align-self: center;
    font-size: 1.6rem;
  }

  & .dailyForecast {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;

    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: #c5dbec59 2px solid;
    border-radius: 1px;

    & div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    & .date {
      flex-direction: column;
      gap: 5px;
      align-items: start;

      & .dateText {
        font-weight: 600;
      }
    }

    & .temperatureValues {
      display: flex;
      flex-direction: column;

      & .minTemperature {
        color: aqua;
      }
      & .maxTemperature {
        color: rgb(255, 136, 0);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  #header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    row-gap: 1rem;
    grid-template-areas:
      "logo"
      "searchbar"
      "settings";
  }
  .logo {
    justify-self: center;
  }
  .settingsContainer {
    justify-self: center;
  }
}

@media (max-width: 700px) {
  #mainContainer {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, minmax(min-content, max-content));
    grid-template-areas:
      "title"
      "weather"
      "details"
      "hourly"
      "daily";

    row-gap: 3rem;

    align-items: center;
    justify-content: center;
  }

  .hourlyCarouselContainer {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 620px) {
  #mainContainer .dailyContainer .dailyForecast {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
}
