html {
  height: 100vh;
  background: linear-gradient(rgb(0, 206, 206), rgb(0, 109, 109));
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  display: inherit;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  margin-bottom: 3rem;

  & .logo {
    justify-self: start;
    margin-left: 1rem;
  }

  & #locationSearchBar {
    justify-self: center;
    font-size: inherit;
    background-color: #0e2d44;
    border: 0;
    border-radius: 20px;
    padding: 0.4rem;
    padding-left: 1rem;
    color: inherit;
  }

  & .settingsContainer {
    display: flex;
    justify-self: end;
    margin-right: 1rem;

    gap: 10px;

    & div {
      background-color: #0e2d44;
      padding: 0.3rem;
      border-radius: 20px;
      border: 2px solid #0e2d44;

      font-size: 0.8rem;

      &:hover {
        cursor: pointer;
        border: 2px solid white;
      }
    }
  }
}

#mainContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  gap: 2rem;

  grid-template-areas:
    "title title"
    "weather details"
    "daily daily";

  & .searchInfoContainer {
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .weatherLocation {
      font-size: 2rem;
      padding-bottom: 0;
      margin-bottom: 0.6rem;
    }

    & .weatherTimingInfo {
      opacity: 70%;
    }
  }
}

#mainContainer .weatherInfoContainer {
  grid-area: weather;
  align-self: center;

  & .temperatureWindow {
    display: flex;

    & h1 {
      margin: 0;
      padding: 0;
      font-size: 3rem;
    }
    & img {
      position: relative;
      top: -20px;
    }
  }

  & .lowerTemperatureWindow {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .feelsLikeText {
      opacity: 70%;
    }
  }
}

#mainContainer .weatherDetails {
  grid-area: details;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  & .details {
    display: block;

    & .detailsTitle {
      opacity: 70%;
      margin-bottom: 0.4rem;
    }
    & .details-data {
      font-size: 1.2rem;
    }
  }
}
